@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
/* Style général du menu */
nav {
    background-color: #4CAF50; /* Couleur de fond du menu */
    padding: 15px; /* Espacement autour du menu */
    margin: auto;
}

/* Style des icônes de contact */
.contact-icons {
    margin-top: 10px;
}

.contact-icons a {
    margin: 0 10px; /* Espacement entre les icônes */
}

.contact-icons img {
    width: 40px; /* Taille des icônes */
    transition: transform 0.3s; /* Animation lors du survol */
}

.contact-icons img:hover {
    transform: scale(1.1); /* Agrandissement léger lors du survol */
}

/* Styles pour la liste */
.menu {
    list-style-type: none; /* Supprime les puces des éléments de liste */
    margin: 0; /* Supprime la marge */
    padding: 0; /* Supprime le padding */
    display: flex; /* Affiche les éléments de manière horizontale */
    justify-content: center; /* Centre les éléments horizontalement */
}

/* Styles pour les éléments de la liste */
.menu li {
    margin: 0 15px; /* Espacement entre les éléments */
}

/* Styles pour les liens */
.menu a {
    text-decoration: none; /* Supprime le soulignement des liens */
    color: white; /* Couleur du texte */
    font-size: 18px; /* Taille de la police */
    transition: color 0.3s; /* Transition pour un effet au survol */
}

/* Effet au survol des liens */
.menu a:hover {
    color: #1d3ed1; /* Couleur du texte au survol */
}

/* Responsive pour les petits écrans */
@media (max-width: 600px) {
    .menu {
        flex-direction: column; /* Colonne sur petits écrans */
    }
    .menu li {
        margin: 10px 0; /* Espacement vertical entre les éléments */
    }
}
.watsapp img {
    width: 50px;
    position: fixed;
    right: 1.5rem;
    bottom: 1.5rem;
  }

  .mains{
    width: 90%;
    margin: 0 auto;
    height: max-content;
    min-height: 200px;
    background-color: #f7f7f7;
    border-radius: 30px;
    box-shadow: 0 30px 50px #5553;
    padding: 30px;
    box-sizing: border-box;
}
.mains .result{
    padding-top: 20px;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.mains .result .name{
    font-weight: bold;
    font-size: large;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.mains .temperature img{
    width: 150px;
    filter: drop-shadow(0 10px 50px #555);
}
.mains .temperature figcaption{
    font-size: 3em;
}
.mains .description{
    padding: 10px 0 30px;
    text-align: center;
    font-weight: bold;
}
.mains ul{
    list-style: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 10px;
    width: 70%;
}
.mains li{
    background-color: #f78a55;
    color: #fff;
    border-radius: 10px;
    padding: 20px 10px;
    font-weight: bold;
    font-size: small;
}
.mains ul li i{
    font-size: 2em;
    margin: 20px 0;
    display: block!important;
}
.mains li:nth-child(2){
    background-color: #b56291;
}
.mains li:nth-child(3){
    background-color: #48567b;
}
.mains.error{
    animation: errorEffect 0.3s linear 1;
}
@keyframes errorEffect{
    0%{
        transform: translate(10px, 5px)
    }
    25%{
        transform: translate(-5px, 0)
    }
    50%{
        transform: translate(8px, 2px)
    }
    75%{
        transform: translate(-2px, 5px)
    }
    100%{
        transform: translate(0, 0); 
    }
}

ul img {
        width: 80px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 0 auto;
    }

.ups {
        margin-bottom: 20px;
    }

.dow {
    margin-top: 20px;
}

/* Products */


/*-- VARIABLES CSS--*/
/*Colores*/
:root{
    --first-color: #E3F8FF;
    --second-color: #DCFAFB;
    --third-color: #FFE8DF;
    --accent-color: #FF5151;
    --dark-color: #161616;
}

/*Tipografia responsive*/
:root{
    --body-font: 'Open Sans';
    --h1-font-size: 1.5rem;
    --h3-font-size: 1rem;
    --normal-font-size: 0.938rem;
    --smaller-font-size: 0.75rem;
}
@media screen and (min-width: 768px){
    :root{
        --h1-font-size: 2rem;
        --normal-font-size: 1rem;
        --smaller-font-size: 0.813rem;
    }
}

/*-- BASE --*/
*,::after,::before{
    box-sizing: border-box;
}
body{
    margin: 2rem 0 0 0;
    background-color: #fff;
    color: var(--dark-color);
    font-family: var(--body-font);
}
h1{
    font-size: var(--h1-font-size);
}
img{
    max-width: 100%;
    height: auto;
}
a{
    text-decoration: none;
}

/*-- LAYAOUT --*/
.main {
    padding: 2rem 0;
}
.bd-grid{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
    max-width: 1200px;
    margin-left: 2.5rem;
    margin-right: 2.5rem;
    align-items: center;
    gap: 2rem;
}

/*-- PAGES --*/
.title-shop{
    position: relative;
    margin: 0 2.5rem;
}
.title-shop::after{
    content: '';
    position: absolute;
    top: 50%;
    width: 72px;
    height: 2px;
    background-color: var(--dark-color);
    margin-left: .25rem;
}

/*-- COMPONENT --*/
.card{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    overflow: hidden;
}
article:nth-child(1){
    background-color: var(--first-color);
}
article:nth-child(2){
    background-color: var(--second-color);
}
article:nth-child(3){
    background-color: var(--third-color);
}
article:nth-child(4){
    background-color: var(--second-color);
}
.card__img{
    width: 180px;
    height: auto;
    padding: 3rem 0;
    transition: .5s;
}
.card__name{
    position: absolute;
    left: -25%;
    top: 0;
    width: 3.5rem;
    height: 100%;
    writing-mode: vertical-rl;
    transform: rotate(180deg);
    text-align: center;
    background-color: var(--dark-color);
    color: #fff;
    font-weight: bold;
    transition: .5s;
}
.card__icon{
    font-size: 1.5rem;
    color: var(--dark-color);
}
.card__icon:hover{
    color: var(--accent-color);
}
.card__precis{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    transition: .5s;
}
.card__preci{
    display: block;
    text-align: center;
}
.card__preci--before{
    font-size: var(--smaller-font-size);
    color: var(--accent-color);
    margin-bottom: .25rem;
}
.card__preci--now{
    font-size: var(--h3-font-size);
    font-weight: bold;
}
/*Move left*/
.card:hover{
    box-shadow: 0 .5rem 1rem #D1D9E6;
}
.card:hover .card__name{
    left: 0;
}
.card:hover .card__img{
    transform: rotate(30deg);
    margin-left: 3.5rem;
}
.card:hover .card__precis{
    margin-left: 3.5rem;
    padding: 0 1.5rem;
}

/*-- FOOTER --*/

footer{
  text-align: center;
}

/*-- MEDIA QUERIES --*/
@media screen and (min-width: 1200px){
    body{
        margin: 3rem 0 0 0;
    }
    .title-shop{
        margin: 0 5rem;
    }
    .bd-grid{
        margin-left: auto;
        margin-right: auto;
    }
}
